button {
    background-color: orange;
    color: white;
    padding: 5px;
    border-style: none;
}

#searchBar {
    padding: 0.4em;
    height: 2%;
    position: absolute;
    background-color: rgb(243, 243, 243); 
    width: 80%; 
    margin-left: 2%;
    border: none;
}

#bar {
    background-color: orange;
    padding: 0.5em;
}